@model BugTracker.Models.Bugs

@{
    ViewData["Title"] = "Edit";
}
<script language="javascript">
    function closedCheck(that) {
        if (that.value == "Closed") {
            document.getElementById("closedDate").style.display = "none";
            document.getElementById("resolved").style.display = "block";
            document.getElementById("closedBy").style.display = "none";
        }
        else {
            document.getElementById("closedDate").style.display = "none";
            document.getElementById("resolved").style.display = "none";
            document.getElementById("closedBy").style.display = "none";
        }
    }
</script>

<h1 class="text-white">Edit</h1>

<h4 class="text-white">Bugs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "Bugs", FormMethod.Post))
        {    <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label text-white">Project</label>
                    <input asp-for="Projects" type="text" id="AddNew" class="form-control" style="display: block"/>
                    <span asp-validation-for="Projects" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tickets" class="text-white"></label>
                    <input asp-for="Tickets" class="form-control" />
                    <span asp-validation-for="Tickets" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="text-white"></label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Priority" class="text-white"></label>
                    <select id="select1" asp-for="Priority" onchange="closedCheck(this);">
                        <option selected disabled>Select</option>
                        <option>Immediate</option>
                        <option>Urgent</option>
                        <option>Medium</option>
                        <option>Low</option>
                        <option>Very low</option>
                        <option value="Closed">Closed</option>
                    </select>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                 <div style="display: none" class="form-group">                  
                    <input asp-for="Creator" class="form-control" />                  
                </div>
                <div style="display: none" class="form-group">                  
                    <input asp-for="TimeCreated" class="form-control" />                  
                </div>
                 <div style="display:none "class="form-group">                   
                    <select id="select1" asp-for="EditDate">
                        <option>@DateTime.Now</option>
                    </select>
                </div>
                <div style="display:none" class="form-group">                   
                    <select id="select2" asp-for="EditedBy">
                        <option>@User.Identity.Name</option>
                    </select>
                </div>
                <div id="closedDate" style="display: none;">
                    <label class="control-label text-white">Closed Date</label>
                    <select asp-for="ClosedDate">
                        <option>@DateTime.Now</option>
                    </select>
                </div>
                <div id="closedBy" style="display:none" class="form-group">
                    <label class="control-label text-white">Closed By</label>
                    <select id="select3" asp-for="ClosedBy">
                        <option>@User.Identity.Name</option>
                    </select>
                </div>
                <div id="resolved" style="display: none;">
                    <label class="text-white">Resolved Issue</label>
                    <textarea asp-for="Resolved" class="form-control" rows="5"></textarea>
                </div>
                 <!---
                <div class="form-group">
                    <label class="control-label text-white">Due Date</label>
                    <input asp-for="DueDate" class="form-control" />
                </div>
                 --->
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-primary">
                        <i class="fas fa-long-arrow-alt-left"></i> <!--BackToList-->
                    </a>
                </div>
             </form>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
